{% extends 'base.html.twig' %}

{% block title %}Article unique{% endblock %}

{% block body %}

    <h1>Article n°{{ id }}</h1>

    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis debitis ea esse laboriosam nemo possimus
        totam? Accusantium aliquid at consectetur cupiditate, deleniti eligendi nihil praesentium quasi repellendus
        similique suscipit, veniam.
    </div>

{% endblock %}