{% extends 'base.html.twig' %}

{% block title %}Modifer un article{% endblock %}

{% block body %}

    <h1>Modifier l'article n° {{ id }}</h1>

    <form action="#" method="POST">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name">
        <label for="content">Content: </label>
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
        <input type="submit" value="Ajouter">
    </form>

{% endblock %}