{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}

    <h1>Liste des articles</h1>

    <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias amet aut ducimus eos eveniet illo
            maxime, necessitatibus numquam porro, praesentium quas quidem quis quod ratione repudiandae sit temporibus
            totam?
        </li>
        <li>Ad alias at debitis deleniti doloremque eum, iure labore libero maiores numquam pariatur perspiciatis, porro
            quam quos, repellendus. Accusantium fugiat fugit nisi sapiente tempora? Eligendi facere laboriosam laborum
            quam reprehenderit.
        </li>
        <li>Aliquam architecto, atque beatae consectetur consequuntur delectus deserunt ea explicabo facere fugit illo
            modi nemo nihil nisi nulla omnis perferendis, provident quae quis rem saepe velit voluptas. Blanditiis,
            eius, vel.
        </li>
        <li>Ab at, corporis distinctio, error esse et explicabo facilis hic minus neque numquam, quibusdam
            reprehenderit! Accusamus asperiores cumque cupiditate ducimus ipsa, itaque modi nostrum officiis quia
            quibusdam saepe sint unde?
        </li>
        <li>Cum cumque possimus sit vel! A animi aut debitis dolore ducimus eius eligendi, eos harum magnam magni,
            maiores modi nemo nostrum, numquam odit provident sint temporibus veritatis vero voluptas! Illum.
        </li>
        <li>Accusamus alias at atque debitis dolorem doloremque dolorum ducimus ea eum, impedit, incidunt inventore
            libero molestias mollitia nemo nihil perspiciatis placeat porro possimus quae qui reiciendis rem vitae
            voluptates voluptatum?
        </li>
        <li>Deleniti doloribus, enim esse ex fugit impedit in ipsa iusto laudantium maxime numquam, optio quo
            repellendus reprehenderit sed soluta ut? Consequatur incidunt inventore ipsam maiores quis rem sunt ut,
            vero.
        </li>
        <li>Ab consequatur dicta dolore, enim eveniet expedita, in iste omnis perferendis, quia tenetur velit! Ad
            commodi culpa, deserunt eligendi facilis ipsa molestias, nemo neque pariatur praesentium quidem quisquam
            reiciendis, veritatis!
        </li>
    </ul>

{% endblock %}