{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}

    <h1>Index par default</h1>

    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi aperiam delectus dolor dolorum ea eius, eligendi et facilis id impedit iusto maxime officiis perspiciatis suscipit tenetur ut voluptates voluptatum!
    </div>

{% endblock %}